.pageContent {
  display: flex;
  background: black;
}

.pageContentItem {
  margin: 2px;
  background: white;
  height: 60vh;
}

#playTable,
#gameStatus {
  display: flex;
  flex-direction: column;
}

#playTable {
  margin-right: 1px;
  width: 80%;
}

#gameStatus {
  margin-left: 1px;
  width: 20%;
}

#gameBoard,
#gameStatusBox {
  margin: auto;
  width: 90%;
  border: 1px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gameBoard {
  height: 40%;
  background-color: rgba(204, 102, 0, 0.7);
  background-image: url("../img/wood.png");
}

#gameStatusBox {
  height: 10%;
  margin-top: 20%;
}

.pit {
  position: relative;
  z-index: 100;
  margin: auto;
  border: 1px;
  border-style: solid;
  height: 95%;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.store {
  width: 8.3%;
  height: 99%;
}

.pitStatus {
  border-radius: 0;
  background-color: transparent;
}

#storeOpponent {
  margin-right: 2px;
}

#storePlayer {
  margin-left: 2px;
}

#storeOpponentStatus {
  margin-right: 0;
}

#storePlayerStatus {
  margin-left: 0;
}

.pitsRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: 49%;
}

#gamePitsOpponent,
#gamePitsOpponentStatus {
  flex-direction: row-reverse;
}

.seed {
  z-index: 200;
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(0, 14, 255, 0.5522584033613445) 0%,
    rgba(255, 0, 0, 1) 54%
  );
  border: 1px;
  border-style: solid;
  border-color: darkred;
  border-radius: 100px / 200px;
  height: 20px;
  width: 7px;
}

.gameMessages {
  margin: auto;
}

#forfeitButton {
  width: 10%;
  height: 5%;
}
