.topBar {
  height: 30px;
  position: relative;
  z-index: 9999;
  display: flex;
}

#authAreaButton {
  display: inline-block;
  height: 30px;
  width: 20px;
  margin-right: 10px;
}

#authAreaButton:hover {
  cursor: pointer;
}

#authAreaButton > span {
  display: block;
  height: 3px;
  margin-top: 4px;
  margin-bottom: 3px;
  width: 30px;
  background-color: blue;
  -webkit-transition-timing-function: linear; /* Safari and Chrome */
  transition-timing-function: linear;
  transition-duration: 1s;
}

#authAreaButton.open > span:first-child {
  -webkit-transform: translateY(6px) rotate(45deg); /* Chrome, Safari, Opera */
  transform: translateY(6px) rotate(45deg);
}

#authAreaButton.open > span:nth-child(2) {
  -webkit-transform: rotateY(90deg); /* Safari */
  transform: rotateY(90deg);
  /* rotates the second child on the Y AXIS ONLY 90 degrees so it disappears into a point */
}

#authAreaButton.open > span:last-child {
  -webkit-transform: translateY(-6px) rotate(-45deg); /* Chrome, Safari, Opera */
  transform: translateY(-6px) rotate(-45deg);
}

#selectionBar {
  display: flex;
  margin-left: 10px;
}

#authArea{
  display: inline-block;
  position: absolute;
  opacity: 0.9;
  z-index: 888;
  top: -20vw;
  left: -20vw;
  transition: 1s;
  background-color: black;
  color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

#authArea.open {
  top: 40px;
  left: 5px;
}

#authAreaLoginButton {
  width: 100px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  border: 2px;
  border-style: solid;
  background:white;
  color: black;
  align-self: center;
}

.tempFloatingTab {
  display: inline-block;
  position: absolute;
  opacity: 0.9;
  z-index: 888;
  top: -50%;
  transition: 1s;
  background-color: black;
  color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  overflow: auto;
  padding: 5px;
}

.selectionBarItem {
  background: orange;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 2px;
  width: 100px;
  text-align: center;
}

#tabGameRules {
  left: 50px;
}

#tabGameRules.open {
  top: 40px;
}

.rulesListContainer {
  display: none;
}

.rulesListContainer.displayed {
  display: block;
}

#tabGameScores {
  left: 155px;
}

#tabGameScores.open {
  top: 40px;
}

#tabGameSettings {
  left: 265px;
}

#tabGameSettings.open {
  top: 40px;
}

#settingsPits {
  display: flex;
}

.settingsPitsSpans {
  text-align: center;
  vertical-align: bottom;
}

.pageContent {
  display: flex;
  background: black;
}

.pageContentItem {
  margin: 2px;
  background: white;
  height: 50vh;
}

#playTable {
  margin-right: 1px;
  width: 70%;
}

#gameBoard {
  top: 50%;
  left: 50%;
  border: 1px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
}

.storeOpponent, .storePlayer {
  border: 1px;
  border-style: solid;
  height: 50px;
  width: 50px;
}

.gamePitsOpponent, .gamePitsPlayer {
  display: flex;
  flex-wrap: wrap;
}

.gamePitsOpponent {
  flex-direction: row-reverse;
}

.pitPlayer, .pitOpponent {
  border: 1px;
  border-style: solid;
  height: 25px;
  width: 25px;
}

.seed {
  position: relative;
  border: 1px;
  border-style: solid;
  height: 2px;
  width: 2px;
}

#gameStatus{
  margin-left: 1px;
  width: 30%;
}